/* CONTACT PAGE */

/* contact section */
.contact{
    padding-top: 40px;
    padding-bottom: 84px;
    display: flex;
    flex-direction: column;
}

.contact-title{ 
    text-align: center;
    margin-bottom: 35px;
}

.contact-title h2{
    margin-bottom: 10px;
}

.contact-form{
    background-color: white;
    padding: 40px 25px 64px;
    width: 100%;
    margin: 0 auto;
}

.contact-form-container{
    display: grid;
    grid-row-gap: 40px;
    grid-template-columns: 1fr;
}

.input-wrapper input,
.input-wrapper textarea{
    width: 100%;
    padding-bottom: 16px;
    border: none;
    border-bottom: 1px solid silver;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 16px;
}

.input-wrapper label{
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}


.contact-form-button{
    display: flex;
}

.contact-form-button a{
    background-color: var(--dark-backgroud);
    color: white;
    text-align: center;
    width: 120%;
}
@media only screen and (min-width: 768px) and (max-width: 991px){
    .contact{
        padding-top: 60px;
        padding-bottom: 105px;
    }
    .contact-title{
        margin-bottom: 48px;
    }
    .contact-title h2{
        margin-bottom: 15px;
    }
    .contact-title p{
        max-width: 596px;
        margin: 0 auto;
    }
    .contact-form{
        width: 80%;
        padding: 82px 68px 92px;
    }
    .input-wrapper label{
        margin-bottom: 16px;
    }
    .contact-form-button{
        display: block;
    }
}
@media only screen and (min-width: 992px){
    .contact{
        padding-top: 80px;
        padding-bottom: 131px;
    }
    .contact-title h2{
        margin-bottom: 17px;
    }
    .contact-title p{
        max-width: 596px;
        margin: 0 auto;
    }
    .contact-title{
        margin-bottom: 48px;
    }
    .contact-form{
        width: 70%;
        padding: 98px 103px 110px;
    }
    .contact-form-container{
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 51px;
        grid-column-gap: 37px;
        grid-auto-columns: 1fr;
    }
    .input-wrapper-message{
        grid-column: span 2;
    }
    .input-wrapper label{
        margin-bottom: 16px;
    }
    .contact-form-button{
        display: block;
    }
}
 
/* location section */
.location{
    padding-top: 74px;
    padding-bottom: 74px;
}
.location-container{
    position: relative;
    justify-content: flex-end;
}
.location-maps iframe{
    filter: grayscale(100%);
    width: 100%;
    height: 400px;
    margin-top: 130px;
}
.location-text-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    padding: 0 16px;
}
.location-title{
    padding: 48px 25px 58px;
    color: white;
    background-color: var(--dark-backgroud);
}
.location-title h2{
    margin-bottom: 27px;
}
.location-title p{
    margin-bottom: 24px;
}
.location-adress{
    margin-bottom: 40px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .location{
        padding-top: 92px;
        padding-bottom: 92px;
    }
    .location-maps iframe{
        height: 800px;
        margin-top: 218px;
    }
    .location-text-container{
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        padding: 69px 74px 84px;
    }
    .location-title h2{
        margin-bottom: 32px;
    }
}
@media only screen and (min-width: 992px) {
    .location-maps{
        display: flex;
        width: 100%;
        justify-content: flex-end;
    }
    .location-maps iframe{
        height: 764px;
        max-width: 1006px;
        margin: 0;
    }
    .location{
        padding-top: 144px;
        padding-bottom: 144px;
    }
    .location-text-container{
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        padding: 83px 89px 101px;
        max-width: 498px;
    }
    .location-title h2{
        margin-bottom: 38px;
    }
}