footer{
    padding-top: 61px;
    padding-bottom: 25px;
}
.footer__container{
    margin: 0 auto;
    text-align: center;
}
.footer__content{
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;

}
.footer__content p{
    max-width: 391px;
    padding-bottom: 25px;
}
.footer__content-logo-icon{
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    display: block;
}
.footer__content-logo-icon img{
    border-radius: 50%;
}
.footer__logo img{
    max-width: 256px;
    margin: 0 auto;
    padding-bottom: 15px;
}
.footer__menu{
    /* max-width: 300px; */
    margin: 0 auto;
}
.footer__menu-content{
    display: flex;
    justify-content: center;
}
.footer__menu-content ul:not(:first-of-type){
    padding-left: 30px;
}

.footer__menu-content li,
.footer__menu-title{
    margin-bottom: 24px;
}
.footer__social-media {
    display: inline-block;
}

.footer__social-media a {
    display: inline-block;
    width: 31px; 
    height: 30px; 
    margin-right: 5px; 
    background-image: url('../img/sprite.jpg'); 
    background-size: 345px 345px;
    border-radius: 50%;
    filter: invert(1);
}

.footer__social-media a:nth-child(1) {
    background-position: 188px -97px;
}

.footer__social-media a:nth-child(2) {
    background-position: -265px -204px;
}

.footer__social-media a:nth-child(3) {
    background-position: -49px -151px;
}

.footer__social-media a:nth-child(4) {
    background-position: -157px -150px;
}

.footer__social-media a:nth-child(5) {
    background-position: -49px -204px;
}

.footer__social-media a:nth-child(6) {
    background-position: -211px -257px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    footer{
        padding-top: 77px;
        padding-bottom: 30px;
    }
    .footer__container{
        display: flex;
    }
    .footer__content{
        flex-direction: row;
    }
}
@media only screen and (min-width: 992px){
    footer{
        padding-top: 96px;
        padding-bottom: 30px;
    }
    .footer__container{
        display: flex;
        align-items: flex-start;
        text-align: left;
        justify-content: space-between;
    }
    .footer__content{
        flex-direction: row;
    }
    .footer__content-info{
        padding-left: 30px;
    }
    .footer__logo img{
        max-width: 256px;
        margin: 0;
        padding-bottom: 15px;
    }
    .footer__menu-title {
        margin-bottom: 0;
    }
    .footer__menu{
        margin: 0;
    }
    .footer__menu ul:not(:first-of-type){
        padding-left: 100px;
    }

    

}