
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-background: #f2f1ee;
    --dark-backgroud: #000000;
}
body{
    background-color: var(--main-background);
    font-family: 'Montserrat Alternates', sans-serif;
    height: 100%;
    position: relative;
}
main{
    
    /* transition: opacity 1s ease-in-out; */
    position: relative;
    z-index: 999;

}
.opacity{
    opacity: 1;
}
img{
    display: block;
    width: 100%;
    height: 100%;
}

a{
    text-decoration: none;
    color: inherit;
}
li{
    list-style: none;
}
section,
.header,
footer{
    margin: 0 auto;
    max-width: 1243px;
    padding-left: 16px;
    padding-right: 16px;
}
h1, h2, h3, h4, h5{
    padding-bottom: 8px;
}
h1{
    font-size: 35px;
}
h2{
    font-size: 33px;
}
h3{
    font-size: 23px;
}
h4{
    font-size: 20px;
}
h5{
    font-size: 16px;
}
h6{
    font-size: 14px;
}
p{
    line-height: 2em;
    color: #a9a8a8;
}
.section-wrapper p{
    color: #a9a8a8;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    main{
        opacity: 0;
        transition: opacity 1s ease-in-out;
    }
    section,
    .header{
        padding-left: 24px;
        padding-right: 24px;
    }
    h1, h2, h3, h4, h5{
        padding-bottom: 20px;
    }
    h1{
        font-size: 50px;
    }
    h2{
        font-size: 48px;
    }
    h3{
        font-size: 28px;
    }
    h4{
        font-size: 22px;
    }
    h5{
        font-size: 18px;
    }
    h6{
        font-size: 16px;
    }
    
}
@media only screen and (min-width: 992px){
    main{
        opacity: 0;
        transition: opacity 1s ease-in-out;
    }
    section,
    .header{
        padding-left: 24px;
        padding-right: 24px;
    }
    h1, h2, h3, h4, h5{
        padding-bottom: 24px;
    }
    h1{
        font-size: 60px;
    }
    h2{
        font-size: 48px;
    }
    h3{
        font-size: 28px;
    }
    h4{
        font-size: 22px;
    }
    h5{
        font-size: 18px;
    }
    h6{
        font-size: 16px;
    }
    
}

span{
    display: block;
}






/* GENERAL CLASSES */

.overflow-hidden{
    overflow: hidden;
}
.backgroung-wrapper{
    overflow: hidden;
}
.section-wrapper{
    background: var(--dark-backgroud);
    color: rgb(255, 255, 255);
}

.backgroung-wrapper{
    background: linear-gradient(to top, black 50%, transparent 50%);
}


/* Buttons */
.buttons{
    display: block;
    text-align: center;
    padding: 22px 15px 24px;
    /* width: 100%; */
    margin-bottom: 15px;
    cursor: pointer;
    border: 1.5px solid black;
    border-radius: 80px;
    transition: all 0.2s ease-in-out;
}
.buttons:hover{
    transform: scale(1.03);
}
i{
    transform: translateX(1);
    transition: transform 0.5s ease;
}
.buttons:hover i{
    transform: translateX(5px);
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .buttons{
        padding: 22px 56px 24px;
        max-width: 256px;
    }
}
@media only screen and (min-width: 992px){
    .buttons{
        padding: 22px 56px 24px;
        max-width: 256px;
    }
}
.dark-button {
    background-color: var(--dark-backgroud);
    color: white;
}
.light-button {
    background-color: var(--main-background);
    color: black;
}
.border-button {
    border: 1px solid black;
}
/* CARDS HOVER ANIMATION */
.card-link img{
    transition: transform 0.3s ease-in-out;
}
.image-container{
    overflow: hidden;
}
.card-link:hover img{
    transform: scale(1.05);
}
.border-link{
    display: inline-block;
	border-bottom: 2px solid silver;
	position: relative;
    font-weight: bold;
}
.border-link:after {
	position: absolute;
    content: '';
    display: block;
    width: 0;
    bottom: -2px;
    height: 2px;
    background: #6e6e6e;
    transition: width .3s;
}
.card-link:hover .border-link:after{
	width: 100%;
	transition: width .3s;
}
.text-color-hover{
    transition: color 0.3s ease-in-out;
}
.card-link:hover .text-color-hover{
    color: #6e6e6e;
}



.services.services-slider{
    padding-top: 100px;
    padding-bottom: 100px;
}
.services-slider .services__title{
    margin: 0;
    padding-bottom: 120px;
    text-align: left;
    padding-left: 15px;
}

.service-card.slick-slide{
    padding: 0 15px;
}

.slick-arrow{
    min-height: 68px;
    min-width: 68px;
    position: absolute;
    border-radius: 50%;
    font-size: 0;
    border: 1.5px solid var(--main-background);
    font-size: 15px;
    transition: border-color .3s, transform .3s;
}

.slick-arrow:active,
.slick-arrow:hover{
    border-color: rgb(130, 130, 130);
    border-width: 1px;
    transform: matrix(0.95, 0, 0, 0.95, 0, 0);
}

.slick-prev{
    background: url(../img/prev-arrow.png) 0 0 no-repeat;
    background-position: center;
    background-size: contain;
}

.slick-next{
    background: url(../img/next-arrow.png) 0 0 no-repeat;
    background-position: center;
    background-size: cover;
}

.slick-prev, .slick-next{
    padding: 10px;
    font-size: 0;
    left: 15px;
    top: -95px;

}
.slick-next{
    left: 105px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .services.services-slider{
        padding-top: 140px;
        padding-bottom: 140px;
    }
    .services-slider .services__title{
        padding-bottom: 60px;
    }
    .service-card.slick-slide{
        padding: 0 15px;
    }
    .slick-prev, .slick-next{
        padding: 10px;
        font-size: 0;
        left: auto;
        right: 15px;
        top: -130px;
    
    }
    .slick-prev{
        right: 105px;
    }
}
@media only screen and (min-width: 992px){
    .services.services-slider{
        padding-top: 160px;
        padding-bottom: 160px;
    }
    .services-slider .services__title{
        padding-bottom: 67px;
    }
    .service-card.slick-slide{
        padding: 0 15px;
    }
    .slick-prev, .slick-next{
        padding: 10px;
        font-size: 0;
        left: auto;
        right: 15px;
        top: -130px;
    
    }
    .slick-prev{
        right: 105px;
    }
}