@import url('https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-background: #f2f1ee;
    --dark-backgroud: #000000;
}
body{
    background-color: var(--main-background);
    font-family: 'Sulphur Point', sans-serif;
}
img{
    display: block;
    width: 100%;
    height: 100%;
}

a{
    text-decoration: none;
    color: inherit;
}
li{
    list-style: none;
}
section,
.header,
footer{
    margin: 0 auto;
    max-width: 1243px;
    padding-left: 16px;
    padding-right: 16px;
}
h1, h2, h3, h4, h5{
    padding-bottom: 8px;
}
h1{
    font-size: 35px;
}
h2{
    font-size: 33px;
}
h3{
    font-size: 23px;
}
h4{
    font-size: 20px;
}
h5{
    font-size: 16px;
}
h6{
    font-size: 14px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    section,
    .header{
        padding-left: 24px;
        padding-right: 24px;
    }
    h1, h2, h3, h4, h5{
        padding-bottom: 20px;
    }
    h1{
        font-size: 50px;
    }
    h2{
        font-size: 48px;
    }
    h3{
        font-size: 28px;
    }
    h4{
        font-size: 22px;
    }
    h5{
        font-size: 18px;
    }
    h6{
        font-size: 16px;
    }
    
}
@media only screen and (min-width: 992px){
    section,
    .header{
        padding-left: 24px;
        padding-right: 24px;
    }
    h1, h2, h3, h4, h5{
        padding-bottom: 24px;
    }
    h1{
        font-size: 60px;
    }
    h2{
        font-size: 48px;
    }
    h3{
        font-size: 28px;
    }
    h4{
        font-size: 22px;
    }
    h5{
        font-size: 18px;
    }
    h6{
        font-size: 16px;
    }
    
}








/* GENERAL CLASSES */
.backgroung-wrapper{
    background: linear-gradient(
        to top,
        rgb(0, 0, 0) 50%,
        var(--main-background) 50%
    );
    overflow: hidden;
}
.section-wrapper{
    background: var(--dark-backgroud);
    color: white;
}



/* Buttons */
.buttons{
    display: block;
    text-align: center;
    padding: 22px 15px 24px;
    /* width: 100%; */
    margin-bottom: 15px;
    cursor: pointer;
    border: 1.5px solid black;
    border-radius: 80px;
    transition: all 0.2s ease-in-out;
}
.buttons:hover{
    transform: scale(1.03);
}
i{
    transform: translateX(1);
    transition: transform 0.5s ease;
}
.buttons:hover i{
    transform: translateX(5px);
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .buttons{
        padding: 22px 56px 24px;
        max-width: 256px;
    }
}
@media only screen and (min-width: 992px){
    .buttons{
        padding: 22px 56px 24px;
        max-width: 256px;
    }
}
.dark-button {
    background-color: var(--dark-backgroud);
    color: white;
}
.light-button {
    background-color: var(--main-background);
    color: black;
}
.border-button {
    border: 1px solid black;
}
/* CARDS HOVER ANIMATION */
.card-link img{
    transition: transform 0.3s ease-in-out;
}
.image-container{
    overflow: hidden;
}
.card-link:hover img{
    transform: scale(1.05);
}
.border-link{
    display: inline-block;
	border-bottom: 2px solid silver;
	position: relative;
    font-weight: bold;
}
.border-link:after {
	position: absolute;
    content: '';
    display: block;
    width: 0;
    bottom: -2px;
    height: 2px;
    background: #6e6e6e;
    transition: width .3s;
}
.card-link:hover .border-link:after{
	width: 100%;
	transition: width .3s;
}
.text-color-hover{
    transition: color 0.3s ease-in-out;
}
.card-link:hover .text-color-hover{
    color: #6e6e6e;
}




