.theme-switcher {
    width: 40px;
	height: 40px;
    cursor: pointer;
}

#dark-mode-button {
	background-color: black;
	border-radius: 50%;
	position: relative;
	transition: all 0.5s ease;
	width: 40px;
	height: 40px;
	/* transition: all 1s; */
}

#dark-mode-button::before {
	content: "";
	width: 44px;
	height: 44px;
	position: absolute;
	right: -16px;
	top: -16px;
	background-color: var(--main-background);
	border-radius: 50%;
	transition: all 1s;
}

#light-mode-button {
    display: none;
	background-color: var(--main-background);
	opacity: 0.5;
	position: relative;
	transform: scale(0.45);
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

#light-mode-button::before {
	box-shadow: var(--main-background) 0px -40px 0px, var(--main-background) 0px 40px 0px, var(--main-background) 40px 0px 0px,
    var(--main-background) -40px 0px 0px, var(--main-background) 29px 29px 0px, var(--main-background) -29px 29px 0px,
    var(--main-background) 29px -29px 0px, var(--main-background) -29px -29px 0px;
	content: "";
	width: 15px;
	height: 15px;
	left: 50%;
	position: absolute;
	top: 50%;
	border-radius: 50%;
	margin: -8px 0px 0px -8px;
}

.light-mode-bg{
    background-color: var(--main-background);
    color: black;
}


body{
	transition: all 1s;
}

body.dark-mode{
	transition: all 1s;
}
.dark-mode{
	background: var(--dark-mode-bg-color);
    color: #e8e9ebc3;
}
.dark-mode .bg-line{
    opacity: 0.09;
}


.dark-mode .header__nav-logo{
    filter: invert(1);
	opacity: 0.5;
}


.dark-mode .backgroung-wrapper{
    background: linear-gradient(to top, var(--dark-mode-bg-color) 50%, transparent 50%);
}
.dark-mode .section-wrapper{
    background: var(--dark-mode-bg-section-wrapper);
}
.dark-mode ul.header__nav-list.show{
	background: var(--dark-mode-bg-color);
}

.dark-mode .dark-button{
	background: #3d3d3d;
	border-color: #3d3d3d;
	color: #e8e9ebc3;
}

.dark-mode .light-button{
	background: #717171;
	border-color: #717171;
	color: #e8e9ebc3;

}
.dark-mode .round-button{
	border-color: #e8e9ebc3;
}
.dark-mode .contact-quote-buttons .buttons,
.dark-mode .section-wrapper .dark-button{
	filter: invert(0);
}

.dark-mode .video-section-info{
	background: var(--dark-mode-bg-color);
}

.dark-mode .review__user-info,
.dark-mode .values__card,
.dark-mode .project-info-container,
.dark-mode .contact-form,
.dark-mode .location-title,
.dark-mode .about-firm__info{
	background: var(--dark-mode-bg-section-wrapper);
}

.dark-mode .values__card img{
	filter: invert(1);
}
.dark-mode .values__card{
	border-color: #e8e9ebc3;
}
.dark-mode .border-link{
	color: #e8e9ebc3;
}
.dark-mode .border-link:after{
	background-color: #e8e9ebc3;
}


.dark-mode .contact-form input,
.dark-mode .contact-form select,
.dark-mode .contact-form textarea{
	background-color: transparent;
}